.about-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
}

.about-wrapper h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-wrapper .about-text {
    font-size: 1.6rem;
    margin: 10px 0;
}