.footer-wrapper {
    width: 100%;
    min-height: 100px;
    background-color: darkslateblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-wrapper p {
    font-size: 1.6rem;
}